<!DOCTYPE html>
<html ng-app="FoodBetterApp" ng-init="current_user = <%= current_user.to_json %>;">
<head>
  <title>FoodBetter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main" role="main">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">FoodBetter</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li><p class="navbar-text"><%= current_user.email %></p></li>
          <li data-match-route="/logout"><a data-method="delete" href="/users/sign_out">logout</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- for devise authentication views only -->
    <% if !current_user %>
    <%= yield %>
    <% else %>
    <div ng-view></div>
    <% end %>
    <footer></footer>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
